mirrors:
  {{ docker.registry.server }}:
    endpoint:
      - "https://{{ docker.registry.server }}"
configs:
  "{{ docker.registry.server }}":
    auth:
      username: {{ docker.registry.username }}
      password: {{ docker.registry.password }}
