---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s.secrets.vpn.name }}
  namespace: {{ k3s.secrets.vpn.namespace }}
data:
  VPN_USER: {{ k3s.secrets.vpn.data.VPN_USER | b64encode }}
  VPN_PASSWORD: {{ k3s.secrets.vpn.data.VPN_PASSWORD | b64encode }}
  VPN_TRANSPORT_TYPE: {{ k3s.secrets.vpn.data.VPN_TRANSPORT_TYPE | b64encode }}
  LAN_NETWORKS: {{ k3s.secrets.vpn.data.LAN_NETWORKS | b64encode }}
